							/* CSS Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

							/*Google Fonts*/
body {
	font-family: 'Open Sans', sans-serif;
}

									/*Navigation Bar*/
nav {
	padding: 0.8rem;
	margin-bottom: 2rem;
	border-bottom: 1px solid gray;
	list-style-type: none;
}

nav .nav, nav .nav-logo {
	margin: 0.5rem;
	display: inline;
}
									/*Navigation Bar End*/

								/*Intro Section*/
#intro {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
	text-align: center;
}

.header {
	text-align: center;
}

#intro h2, #intro p {
	margin-bottom: 1rem;
}

#intro button {
	color: white;
	font-weight: bold;
	background-color: #c2195b;
	border-radius: 25px;
	font-size: 1rem;
	padding: 1rem;
}
								/*Intro Section End*/

							/*Succeed Info Section*/
#succeed-info {
	padding-top: 2rem;
	padding-right: 10%;
	padding-bottom: 3rem;
	padding-left: 10%;
						/* padding 2rem 10% 3rem 10% */
}

#succeed-info h2 {
	margin-bottom: 1rem;
}

#succeed-info h3 {
	text-align: left;
	margin-left: 10%;
	margin-bottom: 1rem;
}

#succeed-info .card {
	display: inline-block;
	vertical-align: top;
	min-height: 175px;
	width: 30%;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}
							/*Succeed Info Section End*/

#pre-footer {
	background-color: #002540;
	color: white;
}


#pre-footer h3 {
	vertical-align: top;
	margin-top: 1rem;
	margin-bottom: .5rem;
}

#pre-footer .information {
	text-align: left;
	display: inline-block;
	min-height: 110px;
	width: 20%;
	margin-left: 1rem;
	margin-right: 0.5rem;
}



				/*Footer*/
footer {
	padding: 0.7rem;
	text-align: center;
}

footer span {
	margin-right: 0.5rem;
	margin-left: 0.5rem;
}
				/*Footer End*/